<div class="po-row">
  <h1 class="po-md-12">Cadastro de pedido de compra</h1>
</div>
<div class="po-row">
  <p class="po-md-12">Preencha abaixo os detalhes do seu pedido de compra. Não esqueça de selecionar os fornecedores.
  </p>
</div>
<br>
<form [formGroup]="reactiveForm">

  <div class="po-row">
    <po-input class="po-md-12" formControlName="name" p-clean p-label="Usuário" p-readonly="true">
    </po-input>
  </div>

  <div class="po-row">
    <po-select class="po-md-12" formControlName="category" p-clean p-label="Categoria"
      [p-options]="[{label: 'Option 1', value: '1'}, {label: 'Option 2', value: '2'}]">
    </po-select>
  </div>

  <div class="po-row">
    <po-textarea class="po-md-12" formControlName="justify" p-clean p-label="Justificativa">
    </po-textarea>
  </div>

  <div class="po-row">
    <po-multiselect class="po-md-12" formControlName="providers" p-clean p-label="Fornecedores" [p-options]="options">
    </po-multiselect>
  </div>

  <div class="po-row">
    <po-table class="po-md-12" [p-items]="[{
        Codigo: 'Totvs Table',
        Descricao: 'Totvs Table',
        UM: 'Totvs Table',
        Fabricante: 'Totvs Table',
        Quantidade: 'Totvs Table'
      }, {
        Codigo: 'Totvs Table',
        Descricao: 'Totvs Table',
        UM: 'Totvs Table',
        Fabricante: 'Totvs Table',
        Quantidade: 'Totvs Table'
      }, {
        Codigo: 'Totvs Table',
        Descricao: 'Totvs Table',
        UM: 'Totvs Table',
        Fabricante: 'Totvs Table',
        Quantidade: 'Totvs Table'
      }]">
    </po-table>
  </div>

  <div class="po-row button-area">
    <po-button
      p-type="primary"
      class="po-md-2"
      p-label="Solicitar cotação"
      [p-disabled]="!reactiveForm.valid"
      (p-click)="saveForm()"
    >
    </po-button>
    <po-button
      class="po-md-2"
      p-label="Cancelar"
      (p-click)="cancel()"
    >
    </po-button>
  </div>
</form>

<po-modal #reactiveFormData p-title="Save successful" [p-primary-action]="modalPrimaryAction">
  <div class="po-row">
    <po-info class="po-md-12" p-label="Name" [p-value]="reactiveForm.controls.name.value">
    </po-info>
  </div>

  <!-- <hr>

  <div class="po-row">
    <po-info
      class="po-md-6"
      p-label="Address"
      [p-value]="reactiveForm.controls.address.value">
    </po-info>

    <po-info
      class="po-md-6"
      p-label="Number"
      [p-value]="reactiveForm.controls.number.value">
    </po-info>
  </div>

  <hr>

  <div class="po-row">
    <po-info
      class="po-md-6"
      p-label="Email"
      [p-value]="reactiveForm.controls.email.value">
    </po-info>

    <po-info
      class="po-md-6"
      p-label="Website"
      [p-value]="reactiveForm.controls.website.value">
    </po-info>
  </div> -->
</po-modal>